<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <title>电影详情修改</title>
</head>
<style type="text/css">
    .top {
        background-color: moccasin;
    }

    .header {
        width: 995px;
        margin: 0 auto;
        padding-top: 17px;
        overflow: hidden;
    }

    .logo {
        float: left;
    }

    /*搜索栏区域*/
    .search {
        float: left;
        width: 520px;
        height: 42px;
        padding-top: 17px;
        margin-left: 200px;
    }

    .search select {
        float: left;
        width: 100px;
        height: 42px;
        border: 1px solid lightsalmon;
        color: #bfbfbf;
        font-size: 14px;
        padding-left: 10px;
    }

    .search input {
        float: left;
        width: 350px;
        height: 40px;
        border: 1px solid lightsalmon;
        /*border-right: 0;*/
        color: #bfbfbf;
        font-size: 14px;
        padding-left: 15px;
    }

    .search button {
        float: left;
        width: 50px;
        height: 42px;
        /* 去掉按钮默认边框 */
        border: 0;
        background-color: lightsalmon;
        color: #666;
    }

    /*登录用户名称*/
    .user {
        float: left;
        margin-left: 120px;
    }

    .user p {
        font-size: 15px;
        color: #95a5a6;
    }

    /* 第四层级 */

    a:link {
        color: black
    }

    /* 未访问的链接 */
    a:visited {
        color: black
    }

    /* 已访问的链接 */
    a:hover {
        color: gray
    }

    /* 鼠标移动到链接上 */
    a:active {
        color: gray
    }

    /* 选定的链接 */
    a {
        text-decoration: none
    }

    /*!*去掉链接下划线*!*/
    a:hover {
        text-decoration: none
    }

    li a {
        /*将<a>内联元素转换为块级元素，便于padding设定*/
        display: block;
        /*去掉链接默认样式*/
        text-decoration: none;
        color: #000000;
        padding: 8px 16px;
    }


</style>
<body>

<div class="top">
    <div class="header">
        <!--网站logo,点击logo返回主页-->
        <div class="logo">
            <a th:href="@{/forward/homePage}">
                <img th:src="@{~/images/logo.png}" alt="" style="width:100px;height: 80px;">
            </a>
        </div>

        <form th:action="@{/search/film}">
            <div class="search">
                <select name="what">
                    <option value="filmName">电影名称</option>
                    <option value="castName">演职人员名称</option>
                </select>
                <input type="text" placeholder="输入电影关键字" maxlength="16"  name="name"/>

                <button type="submit">搜索</button>
            </div>
        </form>
        <div class="user"  style="/* align-items: center; */left: 80%;/* float: right; */position: absolute;width: 100px;/* align-content: center; */text-align: -webkit-center;">
            <p style="align-content: center">
                <a th:href="@{/user/profile}">
                    <img th:src="@{/images/user.png}" style="width: 34px;
                      height: 34px;
                      display: flex;
                      border-radius: 50%;
                      justify-content: center;
                      overflow: hidden;
                        border: 1px solid silver" alt="">
                    <span th:each="cookie:${#httpServletRequest.getCookies()}"
                          th:if="${cookie.getName().equals('nickname')}"
                          th:text="${cookie.getValue()}"
                    >虫子</span>
                </a>
            </p>
        </div>
    </div>
</div>
<!--主要信息显示区域-->
<div class="main">
    <!--基本信息介绍-->
    <div class="jieshao" style="left: 20%">
        <div class="haibao" style="border-radius: 12px">
            <img th:src="${film.getPosterPath()}" style="width:120px; border-radius: 12px"><br/>
        </div>
        <!--/*@thymesVar id="cast" type="com.wxi.simplyclick.bean.extend.ExtendParticipation"*/-->
        <form th:action="@{/admin/updFilm/{filmId}(filmId=${film.getFilmId()})}"
              style="left: 200px;position: absolute;width: 400px;">
            <table>
                <tr>
                    <th>电影名(中文2-16)</th>
                    <th><input type="text" name="filmName" required="required" pattern="^[\u4E00-\u9FA5]{2,16}$"
                               th:placeholder="${film.getFilmName() != null ? film.getFilmName():'请输入电影名'}"/></th>
                </tr>
                <tr>
                    <th>制片地区(中文2-16)</th>
                    <th><input type="text" name="area" required="required" pattern="^[\u4E00-\u9FA5A-Za-z]{2,16}$"
                               th:placeholder="${film.getArea() != null ? film.getArea():'请输入制片地区'}"/></th>
                </tr>
                <tr>
                    <th>语言(中文2-16)</th>
                    <th><input type="text" name="language" required="required" pattern="^[\u4E00-\u9FA5]{2,16}$"
                               th:placeholder="${film.getLanguage() != null ? film.getLanguage():'请输入语言'}"/></th>
                </tr>
                <tr>
                    <th>片长</th>
                    <th><input type="text" name="footage" required="required"
                               th:placeholder="${film.getFootage() != null ? film.getFootage():'请输入语言'}"/></th>
                </tr>
                <tr>
                    <th>海报路径</th>
                    <th>
                        <select name="posterPath" required="required">
                            <option th:each="path:${paths}" th:text="${path.getPath()}"
                                    th:value="${path.getPath()}"></option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>简介</th>
                    <th><input type="text" name="profile" required="required"
                               th:placeholder="${film.getProfile() != null ? film.getProfile():'请输入简介'}"/>
                    <textarea>

                    </textarea>
                    </th>
                </tr>
            </table>

            <button type="submit">提交</button>
            <br/>
        </form>
        <div style="position: relative;top: 200px;left: 200px;">

            <form th:action="@{/admin/addBelong/{filmId}(filmId=${film.getFilmId()})}">
                <select required="required" name="filmType">
                    <option value="剧情">剧情</option>
                    <option value="动作">动作</option>
                    <option value="喜剧">喜剧</option>
                    <option value="悬疑">悬疑</option>
                    <option value="惊悚">惊悚</option>
                    <option value="爱情">爱情</option>
                    <option value="科幻">科幻</option>
                </select>
                <button>添加</button>
            </form>

            <br>
            <br>
            <p>本片所属类型</p>
            <p>
                <span th:each="belong:${belongs}">
                    <span th:text="'● '+${belong.getFilmType()}"></span>
                    <a th:href="@{'/admin/delBelong/'+${belong.getFilmId()}+'/'+${belong.getFilmType()}}"
                       style="color:  red;font-size: x-large">×</a>
                </span>

            </p>
            <div>
                <a th:href="@{/forward/adminFilmPage}">
                    <button>返回</button>
                </a>
            </div>
            <p style="color: red" th:text="${msg}"></p>
        </div>

    </div>
    <!--简介/故事概要-->
<!--    <div >-->
<!--        &lt;!&ndash;/*@thymesVar id="cast" type="com.wxi.simplyclick.bean.extend.ExtendParticipation"*/&ndash;&gt;-->
<!--            <td><p th:text="'演职人员：'"></p>-->
<!--            </td>-->
<!--            &lt;!&ndash;            </br>&ndash;&gt;-->
<!--            </br>-->
<!--            <table>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <td>名称</td>-->
<!--                    <td>性别</td>-->
<!--                    <td>国籍</td>-->
<!--                    <td>职务</td>-->
<!--                    <td>角色</td>-->
<!--                    <td>操作</td>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="cast:${directors}">-->
<!--                    <td th:text="${cast.getCastName()}"></td>-->
<!--                    <td th:text="${cast.getSex()?'男':'女'}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td th:text="${cast.getRole()}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="#">-->
<!--                            <button id="update">修改</button>-->
<!--                        </a>-->
<!--                        <a th:href="@{'/admin/delParticipation/'+${film.getFilmId()}+'/'+${cast.getCastId()}+'/'+${cast.getRole()}+'/'+${cast.getCharacter()}}">-->
<!--                            <button id="delete">删除</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr th:each="cast:${mainActors}">-->
<!--                    <td th:text="${cast.getCastName()}"></td>-->
<!--                    <td th:text="${cast.getSex()?'男':'女'}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td th:text="${cast.getRole()}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="#">-->
<!--                            <button id="update">修改</button>-->
<!--                        </a>-->
<!--                        <a th:href="@{'/admin/delParticipation/'+${film.getFilmId()}+'/'+${cast.getCastId()}+'/'+${cast.getRole()}+'/'+${cast.getCharacter()}}">-->
<!--                            <button id="delete">删除</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr th:each="cast:${actors}">-->
<!--                    <td th:text="${cast.getCastName()}"></td>-->
<!--                    <td th:text="${cast.getSex()?'男':'女'}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td th:text="${cast.getRole()}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="#">-->
<!--                            <button id="update">修改</button>-->
<!--                        </a>-->
<!--                        <a th:href="@{'/admin/delParticipation/'+${film.getFilmId()}+'/'+${cast.getCastId()}+'/'+${cast.getRole()}+'/'+${cast.getCharacter()}}">-->
<!--                            <button id="delete">删除</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr th:each="cast:${editors}">-->
<!--                    <td th:text="${cast.getCastName()}"></td>-->
<!--                    <td th:text="${cast.getSex()?'男':'女'}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td th:text="${cast.getRole()}"></td>-->
<!--                    <td th:text="${cast.getCountry()}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="#">-->
<!--                            <button id="update">修改</button>-->
<!--                        </a>-->
<!--                        <a th:href="@{'/admin/delParticipation/'+${film.getFilmId()}+'/'+${cast.getCastId()}+'/'+${cast.getRole()}+'/'+${cast.getCharacter()}}">-->
<!--                            <button id="delete">删除</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--    </div>-->
<!--    <div>-->
    <!--        <p><a th:href="@{/forward/participationAdd1/{filmId}(filmId=${film.getFilmId()})}">-->
    <!--            <button>新增</button>-->
    <!--        </a></p>-->
    <!--    </div>-->
</div>
<!--<div class="comments">-->
<!--</div>-->
</body>
</html>