<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/forgetpassword.css}">
</head>
<body>
<div class="login-wrap">
    <h2>重置密码</h2>
    <p align="center" style="color: red" th:text="${msg}"></p>
    <form class="login" th:action="@{/user/forget}">
        <div class="form">
<!--            <p style="position: relative;left: 10%;color: #9c9595">请输入用户名:(英文\数字4-16)</p>-->
            <input type="text" pattern="^[A-Za-z0-9]{4,16}$" required="required" th:placeholder="'请输入用户名:(英文\数字4-16)'" placeholder="用户名"
                   name="username"/>
<!--            <p style="position: relative;left: 10%;color: #9c9595">请输入生日:</p>-->
            <input type="date" required="required" th:placeholder="请输入生日" name="birthday">
<!--            <p style="position: relative;left: 10%;color: #9c9595">请输入新密码:(英文\数字4-16)</p>-->
            <input type="password" pattern="^[A-Za-z0-9]{4,16}$" required="required"
                   th:placeholder="'请输入新密码(英文\数字4-16)'" name="password"/>
            <button th:type="submit"> 确定</button>
        </div>
    </form>
</div>

</body>
</html>