<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>列出评论信息</title>
    <style>
        .nav a {
            display: block; /* 把行内元素 变成 块级元素 */
            width: 92px; /* 盒子 宽度 与td宽度一致*/
            height: 37px; /* 盒子 高度与td高度一致 */
            text-decoration: none;
            vertical-align: middle; /* 使a的文本垂直居中 */
        }

        .nav {
            width: 92px;
            text-align: center; /* 使a的文本水平居中 */
            white-space: nowrap;
            cursor: pointer;
            line-height: 37px; /* 使a的文本垂直居中 要与a标签的高度一致 */
        }
    </style>
</head>
<body>
<h1 th:text="${msg}+'的评论'"></h1>
<div>
    <table>
        <thead>
        <tr>
            <th>username</th>
            <th>nickname</th>
            <th>filmId</th>
            <th>filmName</th>
            <th>content</th>
            <th>score</th>
            <th>modified</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment:${comments}">
            <td width="92" class="nav">
                <a th:href="@{~/test1/{username}(username=${comment.getUsername()})}"
                   th:text="${comment.getUsername()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:text="${comment.getNickname()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:href="@{~/test/{filmId}(filmId=${comment.getFilmId()})}"
                   th:text="${comment.getFilmId()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:text="${comment.getFilmName()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:text="${comment.getContent()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:text="${comment.getScore()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:text="${comment.getModified()}"></a>
            </td>
            <td width="92" class="nav">
                <a th:href="@{~/test2/{tcomment}(tcomment=${comment})}"
                   th:text="echo"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>