<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索界面</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/search-page.css}">
</head>
<style type="text/css">
    a:link {
        color: black
    }

    /* 未访问的链接 */
    a:visited {
        color: black
    }

    /* 已访问的链接 */
    a:hover {
        color: gray
    }

    /* 鼠标移动到链接上 */
    a:active {
        color: gray
    }

    /* 选定的链接 */
    a {
        text-decoration: none
    }

    #filmsType {
        /*去掉列表的样式*/
        /*list-style-type: none;*/
        width: 200px;
        background-color: moccasin;
        border-radius: 12px;
    }

    li a {
        /*将<a>内联元素转换为块级元素，便于padding设定*/
        display: block;
        /*去掉链接默认样式*/
        text-decoration: none;
        color: #000000;
        padding: 8px 16px;
    }

    /*去掉链接下划线/
          a:hover{ text-decoration:none}
</style>
<body>
<div class="container">
    <!--顶部-->
    <div class="top">
        <div class="header">
            <!--网站logo,点击logo返回主页-->
            <div class="logo">
                <a th:href="@{/forward/homePage}">
                    <img th:src="@{~/images/logo.png}" alt="" style="width:100px;height: 80px;">
                </a>
            </div>

            <form th:action="@{/search/film}">
                <div class="search">
                    <select name="what">
                        <option value="filmName">电影名称</option>
                        <option value="castName">演职人员名称</option>
                    </select>
                    <input type="text" placeholder="输入电影关键字" name="name"/>

                    <button type="submit">搜索</button>
                </div>
            </form>

            <div class="user" style="text-align: center">
                <p style="align-content: center">
                    <a th:href="@{/user/profile}">
                        <img th:src="@{/images/user.png}" style="width: 34px;
                      height: 34px;
                      display: flex;
                      border-radius: 50%;
                      justify-content: center;
                      overflow: hidden;
                        border: 1px solid silver" alt="">
                        <span th:each="cookie:${#httpServletRequest.getCookies()}"
                              th:if="${cookie.getName().equals('nickname')}"
                              th:text="${cookie.getValue()}"
                        >虫子</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!--中间区域的主体，左右撑开-->
    <div class="main">
        <h2 style="text-align:center" th:text="${msg}"></h2>
        <!--电影搜索结果区-->
        <div class="left-search-results">
            <div class="movie" th:each="film: ${films}">
                <div class="movie-poster">
                    <img th:src="${film.getPosterPath()}" style="width:100px;height: 150px; border-radius: 12px;">
                </div>
                <div class="movie-information">
                    <a th:href="@{~/search/filmDetail/{filmId}(filmId=${film.getFilmId()})}"
                       th:text="${film.getFilmName()}">战狼2</a>
                    <p th:text="'电影评分：'+${#numbers.formatDecimal(film.getAvgScore(),1,1)}">电影评分：7.1</p>
                    <p class="content" th:text="'电影简介：'+${film.getProfile()}">电影简介：</p>
                </div>
            </div>
            <div style="top: 100px;position: relative;float: left;height: 50px;width: 100%;"></div>
        </div>
        <!--右侧电影类型导航栏-->
        <div class="filmType" style="position: fixed;left: 80%;margin-top: 92px;">
            <ul id="filmsType">
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/剧情}" class="active">剧情</a></li>
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/动作}">动作</a></li>
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/喜剧}">喜剧</a></li>
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/爱情}">爱情</a></li>
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/科幻}">科幻</a></li>
                <li style="
    border-bottom: 1px solid silver;
"><a th:href="@{/search/filmByType/悬疑}">悬疑</a></li>
                <li ><a th:href="@{/search/filmByType/惊悚}">惊悚</a></li>
                <!-- <li><a th:href="@{/search/tpye/${msg}}" >科幻</a></li>-->
            </ul>
        </div>
    </div>
    <div class="footer">
        <hr>
        <a th:href="@{/developerPage}">开发人员</a>
        <hr>
    </div>
</div>
</body>
</html>